sp-tools/output/designs/Flow_EMP_2_雇用調書承認フロー_definition_20251018-201620.json
{
  "properties": {
    "displayName": "EMP_2_雇用調書承認フロー",
    "connectionReferences": {
      "shared_sharepointonline": {
        "connectionName": "shared-sharepointonl-c16de817-784a-42f8-a770-1763e0504cbf",
        "connectionReferenceLogicalName": "new_sharedsharepointonline_7964a",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
        "displayName": "SharePoint",
        "iconUri": "https://conn-afd-prod-endpoint-bmc9bqahasf3grgk.b01.azurefd.net/v1.0.1769/1.0.1769.4352/sharepointonline/icon.png",
        "brandColor": "",
        "tier": "Standard",
        "apiName": "sharepointonline",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      },
      "shared_approvals": {
        "connectionName": "shared-approvals-c69aa9ee-84cf-486d-a16b-cb6bb5eb927e",
        "connectionReferenceLogicalName": "new_sharedapprovals_92bd7",
        "source": "Invoker",
        "id": "/providers/Microsoft.PowerApps/apis/shared_approvals",
        "displayName": "Standard approvals",
        "iconUri": "https://conn-afd-prod-endpoint-bmc9bqahasf3grgk.b01.azurefd.net/v1.0.1774/1.0.1774.4397/approvals/icon.png",
        "brandColor": "",
        "tier": "Standard",
        "apiName": "approvals",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      }
    },
    "state": "Started",
    "definition": {
      "triggers": {
        "manual": {
          "splitOn": "@triggerBody()['rows']",
          "type": "Request",
          "kind": "ApiConnection",
          "inputs": {
            "operationId": "GetItemHybridTriggerSchema",
            "parameters": {
              "dataset": "https://tf1980.sharepoint.com/sites/abeam",
              "table": "9898ad51-5d08-4c68-97c8-e8123b70bc44"
            },
            "schema": {
              "type": "object",
              "properties": {
                "rows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entity": {
                        "properties": {
                          "ID": {
                            "title": "ID",
                            "type": "integer",
                            "format": "int64"
                          }
                        },
                        "type": "object",
                        "required": []
                      }
                    }
                  }
                }
              },
              "required": [
                "rows"
              ]
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_sharepointonline']['connectionId']"
              }
            }
          }
        }
      },
      "actions": {
        "Condition_Stage1": {
          "runAfter": {
            "Approval_Stage1": [
              "Succeeded"
            ]
          },
          "actions": {
            "Break_Permissions": {
              "runAfter": {
                "Update_Stage1_Approved": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "path": "/datasets/@{encodeURIComponent('https://tf1980.sharepoint.com/sites/abeam')}/_api/web/lists/getbytitle('EMP_1_EmploymentRecords')/items(@{outputs('Get_item')?['body/ID']})/breakroleinheritance(copyRoleAssignments=false)",
                "headers": {
                  "Content-Type": "application/json;odata=verbose",
                  "Accept": "application/json;odata=verbose"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                  }
                },
                "method": "post"
              }
            },
            "Update_Stage1_Approved": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "path": "/datasets/@{encodeURIComponent('https://tf1980.sharepoint.com/sites/abeam')}/tables/@{encodeURIComponent('9898ad51-5d08-4c68-97c8-e8123b70bc44')}/items/@{outputs('Get_item')?['body/ID']}",
                "body": {
                  "Stage1ApprovalDate": "@{utcNow()}",
                  "Stage1ApprovalComment": "@{outputs('Approval_Stage1')?['body/responses'][0]['comments']}",
                  "Stage1ApprovalStatus": "承認"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                  }
                },
                "method": "patch"
              }
            },
            "Grant_Read_Permission": {
              "runAfter": {
                "Break_Permissions": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "path": "/datasets/@{encodeURIComponent('https://tf1980.sharepoint.com/sites/abeam')}/_api/web/lists/getbytitle('EMP_1_EmploymentRecords')/items(@{outputs('Get_item')?['body/ID']})/roleassignments/addroleassignment(principalid=@{outputs('Get_item')?['body/AuthorId']},roledefid=1073741826)",
                "headers": {
                  "Content-Type": "application/json;odata=verbose",
                  "Accept": "application/json;odata=verbose"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                  }
                },
                "method": "post"
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Approval_Stage1')?['body/outcome']",
              "Approve"
            ]
          },
          "type": "If",
          "else": {
            "actions": {
              "Send_Rejection_Email_Stage1": {
                "runAfter": {
                  "Update_Stage1_Rejected": [
                    "Succeeded"
                  ]
                },
                "type": "ApiConnection",
                "inputs": {
                  "path": "/v2/Mail",
                  "body": {
                    "To": "@{outputs('Get_item')?['body/AuthorEmail']}",
                    "Subject": "【差戻し】雇用調書 - @{outputs('Get_item')?['body/FullName']}",
                    "Body": "<p>雇用調書が差戻されました。</p><p><strong>申請者:</strong> @{outputs('Get_item')?['body/FullName']}</p><p><strong>差戻理由:</strong><br>@{outputs('Approval_Stage1')?['body/responses'][0]['comments']}</p><p><a href=\"@{outputs('Get_item')?['body/{Link}']}\">アイテムを確認</a></p>"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['office365']['connectionId']"
                    }
                  },
                  "method": "post"
                }
              },
              "Update_Stage1_Rejected": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                  "path": "/datasets/@{encodeURIComponent('https://tf1980.sharepoint.com/sites/abeam')}/tables/@{encodeURIComponent('9898ad51-5d08-4c68-97c8-e8123b70bc44')}/items/@{outputs('Get_item')?['body/ID']}",
                  "body": {
                    "Stage1ApprovalDate": "@{utcNow()}",
                    "Stage1ApprovalComment": "@{outputs('Approval_Stage1')?['body/responses'][0]['comments']}",
                    "Stage1ApprovalStatus": "差戻し",
                    "OverallApproval": "差戻し"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                    }
                  },
                  "method": "patch"
                }
              }
            }
          }
        },
        "Approval_Stage2": {
          "runAfter": {
            "Get_item": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection",
          "inputs": {
            "path": "/approvals",
            "body": {
              "itemLink": "@{outputs('Get_item')?['body/{Link}']}",
              "title": "【第2承認依頼】雇用調書 - @{outputs('Get_item')?['body/FullName']}",
              "approvalType": "Approve/Reject",
              "itemLinkDescription": "アイテムを表示",
              "details": "申請者: @{outputs('Get_item')?['body/FullName']}\\n職員番号: @{outputs('Get_item')?['body/EmployeeID']}\\n採用理由: @{outputs('Get_item')?['body/EmploymentReason']}\\n部署: @{outputs('Get_item')?['body/Department']}",
              "assignedTo": "@{outputs('Get_item')?['body/Stage2ApproversClaims']}"
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['approvals']['connectionId']"
              }
            },
            "method": "post"
          }
        },
        "Get_item": {
          "runAfter": {},
          "type": "ApiConnection",
          "inputs": {
            "path": "/datasets/@{encodeURIComponent('https://tf1980.sharepoint.com/sites/abeam')}/tables/@{encodeURIComponent('9898ad51-5d08-4c68-97c8-e8123b70bc44')}/items/@{triggerBody()?['entity']?['ID']}",
            "host": {
              "connection": {
                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
              }
            },
            "method": "get"
          }
        },
        "Final_Approval_Check": {
          "runAfter": {
            "Condition_Stage2": [
              "Succeeded"
            ],
            "Condition_Stage1": [
              "Succeeded"
            ]
          },
          "actions": {
            "Send_Completion_Email": {
              "runAfter": {
                "Update_Final_Approved": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "path": "/v2/Mail",
                "body": {
                  "To": "@{outputs('Get_item')?['body/AuthorEmail']};@{outputs('Get_item')?['body/Stage1ApproversEmail']};@{outputs('Get_item')?['body/Stage2ApproversEmail']}",
                  "Subject": "【承認完了】雇用調書 - @{outputs('Get_item')?['body/FullName']}",
                  "Body": "<p>雇用調書の承認が完了しました。</p><p><strong>申請者:</strong> @{outputs('Get_item')?['body/FullName']}</p><p><strong>第1承認者:</strong> @{outputs('Get_item')?['body/Stage1ApproversEmail']} - 承認</p><p><strong>第2承認者:</strong> @{outputs('Get_item')?['body/Stage2ApproversEmail']} - 承認</p><p><strong>承認完了日時:</strong> @{utcNow()}</p><p><a href=\"@{outputs('Get_item')?['body/{Link}']}\">アイテムを確認</a></p>"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "post"
              }
            },
            "Update_Final_Approved": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "path": "/datasets/@{encodeURIComponent('https://tf1980.sharepoint.com/sites/abeam')}/tables/@{encodeURIComponent('9898ad51-5d08-4c68-97c8-e8123b70bc44')}/items/@{outputs('Get_item')?['body/ID']}",
                "body": {
                  "ApprovalCompletedDate": "@{utcNow()}",
                  "OverallApproval": "承認完了"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                  }
                },
                "method": "patch"
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Approval_Stage1')?['body/outcome']",
                  "Approve"
                ]
              },
              {
                "equals": [
                  "@outputs('Approval_Stage2')?['body/outcome']",
                  "Approve"
                ]
              }
            ]
          },
          "type": "If",
          "else": {
            "actions": {
              "Update_Final_Rejected": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                  "path": "/datasets/@{encodeURIComponent('https://tf1980.sharepoint.com/sites/abeam')}/tables/@{encodeURIComponent('9898ad51-5d08-4c68-97c8-e8123b70bc44')}/items/@{outputs('Get_item')?['body/ID']}",
                  "body": {
                    "OverallApproval": "差戻し"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                    }
                  },
                  "method": "patch"
                }
              }
            }
          }
        },
        "Condition_Stage2": {
          "runAfter": {
            "Approval_Stage2": [
              "Succeeded"
            ]
          },
          "actions": {
            "Update_Stage2_Approved": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "path": "/datasets/@{encodeURIComponent('https://tf1980.sharepoint.com/sites/abeam')}/tables/@{encodeURIComponent('9898ad51-5d08-4c68-97c8-e8123b70bc44')}/items/@{outputs('Get_item')?['body/ID']}",
                "body": {
                  "Stage2ApprovalStatus": "承認",
                  "Stage2ApprovalDate": "@{utcNow()}",
                  "Stage2ApprovalComment": "@{outputs('Approval_Stage2')?['body/responses'][0]['comments']}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                  }
                },
                "method": "patch"
              }
            },
            "Grant_Read_Permission_Stage2": {
              "runAfter": {
                "Break_Permissions_Stage2": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "path": "/datasets/@{encodeURIComponent('https://tf1980.sharepoint.com/sites/abeam')}/_api/web/lists/getbytitle('EMP_1_EmploymentRecords')/items(@{outputs('Get_item')?['body/ID']})/roleassignments/addroleassignment(principalid=@{outputs('Get_item')?['body/AuthorId']},roledefid=1073741826)",
                "headers": {
                  "Content-Type": "application/json;odata=verbose",
                  "Accept": "application/json;odata=verbose"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                  }
                },
                "method": "post"
              }
            },
            "Break_Permissions_Stage2": {
              "runAfter": {
                "Update_Stage2_Approved": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "path": "/datasets/@{encodeURIComponent('https://tf1980.sharepoint.com/sites/abeam')}/_api/web/lists/getbytitle('EMP_1_EmploymentRecords')/items(@{outputs('Get_item')?['body/ID']})/breakroleinheritance(copyRoleAssignments=false)",
                "headers": {
                  "Content-Type": "application/json;odata=verbose",
                  "Accept": "application/json;odata=verbose"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                  }
                },
                "method": "post"
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Approval_Stage2')?['body/outcome']",
              "Approve"
            ]
          },
          "type": "If",
          "else": {
            "actions": {
              "Send_Rejection_Email_Stage2": {
                "runAfter": {
                  "Update_Stage2_Rejected": [
                    "Succeeded"
                  ]
                },
                "type": "ApiConnection",
                "inputs": {
                  "path": "/v2/Mail",
                  "body": {
                    "To": "@{outputs('Get_item')?['body/AuthorEmail']}",
                    "Subject": "【差戻し】雇用調書 - @{outputs('Get_item')?['body/FullName']}",
                    "Body": "<p>雇用調書が差戻されました。</p><p><strong>申請者:</strong> @{outputs('Get_item')?['body/FullName']}</p><p><strong>差戻理由:</strong><br>@{outputs('Approval_Stage2')?['body/responses'][0]['comments']}</p><p><a href=\"@{outputs('Get_item')?['body/{Link}']}\">アイテムを確認</a></p>"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['office365']['connectionId']"
                    }
                  },
                  "method": "post"
                }
              },
              "Update_Stage2_Rejected": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                  "path": "/datasets/@{encodeURIComponent('https://tf1980.sharepoint.com/sites/abeam')}/tables/@{encodeURIComponent('9898ad51-5d08-4c68-97c8-e8123b70bc44')}/items/@{outputs('Get_item')?['body/ID']}",
                  "body": {
                    "Stage2ApprovalStatus": "差戻し",
                    "OverallApproval": "差戻し",
                    "Stage2ApprovalDate": "@{utcNow()}",
                    "Stage2ApprovalComment": "@{outputs('Approval_Stage2')?['body/responses'][0]['comments']}"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                    }
                  },
                  "method": "patch"
                }
              }
            }
          }
        },
        "Approval_Stage1": {
          "runAfter": {
            "Get_item": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection",
          "inputs": {
            "path": "/approvals",
            "body": {
              "itemLink": "@{outputs('Get_item')?['body/{Link}']}",
              "title": "【第1承認依頼】雇用調書 - @{outputs('Get_item')?['body/FullName']}",
              "approvalType": "Approve/Reject",
              "itemLinkDescription": "アイテムを表示",
              "details": "申請者: @{outputs('Get_item')?['body/FullName']}\\n職員番号: @{outputs('Get_item')?['body/EmployeeID']}\\n採用理由: @{outputs('Get_item')?['body/EmploymentReason']}\\n部署: @{outputs('Get_item')?['body/Department']}",
              "assignedTo": "@{outputs('Get_item')?['body/Stage1ApproversClaims']}"
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['approvals']['connectionId']"
              }
            },
            "method": "post"
          }
        }
      },
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "contentVersion": "1.0.0.0",
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
    }
  }
}
